.body {
  margin: 0;
  padding: 0;
}

.go-button {
  display: block;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: url('../Icons/go.svg');
  transition: 0.3s;
}

.go-button:hover {
  box-shadow: 0 0 5px 0 red, inset 0 0 7px 0 rgba(255, 0, 0, 0.589);
  transform: scale(1.1);
}

.vendor-card {
  display: flex;
  padding: 0 16px;
  height: 72px;
  width: 240px;
  box-sizing: border-box;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.service-software {
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
  height: 234px;
}

.service-software__title {
  display: block;
  margin: 0;
  padding: 16px;
  border-top: 1px solid #D9FFF5;
  font-family: "TT Lakes";
  font-size: 16px;
  color: #7E7E82;
  text-align: left;
  text-transform: uppercase;
  background: linear-gradient(to right, #f8f8f8, #ffffff);
}

.swiper {
  position: relative;
  max-height: 132px;
}

.swiper::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 81px;
  width: 24px;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  top: 10px;
  right: 0px;
  z-index: 10;
}

.swiper-wrapper{
  padding: 16px;
  padding-bottom: 40px;
}

.swiper .swiper-pagination-bullets {
  top: 104px;
}

.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  line-height: 12px;
  background-color: #ddd;
}

.swiper-pagination-bullet-active {
  background-color: #B5B6BC;
}

.service-software__more-layout {
  display: none;
  margin: 0;
  padding: 0;
  padding-left: 57px;
  padding-bottom: 34px;
}

.service-software__more-text {
  position: relative;
  font-family: "TT Lakes";
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #1B1C21;
}

.service-software__more-text::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -24px;
  display: inline-block;
  height: 11px;
  width: 8px;
  background: url('../Icons/more.svg') 50% 50% no-repeat;
}

.service-software__more-text--less.service-software__more-text::before {
  transform: rotate(180deg);
}

@media (min-width: 768px){
  .service-software {
    height: auto;
  }

  .swiper {
    max-height: 200px;
    transition: all 0.5s ease;
  }

  .swiper::before {
    display: none;
  }

  .swiper--show-all {
    max-height: 400px;
    height: fit-content;
  }
  
  .swiper-wrapper {
    display: grid;
    height: auto;
    width: auto;
    grid-template-columns: auto auto auto;
    grid-auto-flow: row dense;
    justify-items: center;
    justify-content: space-around;
    row-gap: 16px;
    padding: 24px;
  }

  .swiper-slide {
    display: flex;
    height: auto;
    width: auto;
  }

  .vendor-card {
    width: 224px;
  }

  .service-software__more-layout {
    display: block;
  }
}

@media (min-width: 1120px){

  .swiper {
    margin-bottom: 20px;
  }

  .service-software__more-layout {
    padding-left: 63px;
  }

  .swiper-wrapper {
    display: grid;
    height: auto;
    width: auto;
    grid-template-columns: auto auto auto auto;
    grid-auto-flow: row dense;
    justify-items: center;
    justify-content: space-around;
    row-gap: 16px;
    padding: 32px;
  }

  .vendor-card {
    width: 240px;
  }
  
  .service-software__more-layout {
    display: block;
  }
}